<h1>All Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
<%#= d @article %>
<%#= d @articles %>
<%= link_to "New Article", new_article_path, :class => "new_article" %>

<%#= d @article %>
<%#= d @articles %>